// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$white: #FFFFFF;
$light-blue: #3aa7c7;
$ligther-blue: #467389;
$blue: #2D5A67;
// $dark-1: #1E2E38;
$dark-1: #213b44;
$dark-2: #131F25;
