<h1><%= @user.email %></h1>

<p>Find me in app/views/users/show.html.erb</p>

<% @user.reservations.each do |reservation| %>
  <%= reservation.date %>
  <%= link_to "Delete",
    reservation_path(reservation),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
<% end %>
