.waviy {
  position: relative;
  text-align: center;
  font-family: $headers-font;
  font-size: 1rem;
}
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  color: #fff;
  /*text-transform: uppercase;*/
  animation: flip 4s infinite;
  animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg)
  }
}
