.card {
// background-color: $blue;
background-color: $dark-2;
color: $white;
border: none;
}

.card img {
  border-radius: 8px 8px 0px 0px;
}

.card .card-subtitle {
  color: $light-blue;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8rem;
  text-align: right;
}

.card .card-title {
  font-size: 1.6rem;
}

.col {
  padding-right: 20px;
}
