.card {
// background-color: $blue;
background-color: $dark-2;
color: $white;
border: none;
}

.card img {
  border-radius: 8px 8px 0px 0px;
}

.card .card-subtitle {
  color: $light-blue;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8rem;
  text-align: right;
}

.card .card-title {
  font-size: 1.6rem;
}

.col {
  padding-right: 20px;
}

.card:hover img {
  opacity: 0.5;

}

.card:hover img:after {
  content: "tot";
  top:50px;
  left:50px;
  z-index:9;
}


.card:hover {
  box-shadow: 0px 0px 10px 2px rgba(19, 31, 37, 0.6);
  overflow: hidden;

}

.card a h5, .card a p {
  color: $white;

}
