.form-control, .form-control:focus, .form-select {
  color: $dark-2;
  background-color: $white;
  border-color: $white;
}

.form-check-input, .form-select {
  background-color: $white;
  border-color: $white;
}
.form-text, .form-select {
  color: #AAA;
}
