.form-control, .form-control:focus {
  color: $dark-2;
  background-color: $white;
  border-color: $white;
}

.form-check-input {
  background-color: $white;
  border-color: $white;
}
.form-text {
  color: #AAA;
}
