.navbar-lewagon {
  justify-content: space-between;
  background: $dark-2;
}

.navbar-lewagon a {
  color: $light-blue;
}

.navbar-lewagon a:hover {
  color: $white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
