.dark-3-background {
background-color: $dark-3;
padding-right: 20vh;
padding-left: 8vh;
}

.blue-background {
  background-color: $ligther-blue;
  padding-left: 20vh;
  background: linear-gradient(180deg, #1e2e38 0%, #457289 26.56%);
  }

img.image_character {
  width: 60%;
}

h2.light-blue {
  color: $light-blue;
}

.dark-2 {
  color: $dark-2;
}
